/*primary colors*/
$primary-cyan: hsl(180, 66%, 49%);
$primary-dark-violet: hsl(257, 27%, 26%);

/*Secondary colors*/

$secondary-red: hsl(0, 87%, 67%);

/*Neutral color*/

$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayish-violet: hsl(257, 7%, 63%);
$neutral-very-dark-blue: hsl(255, 11%, 22%);
$neutral-very-dark-violet: hsl(260, 8%, 14%);

/*Fonts*/

$font-poppins:'Poppins', sans-serif;

*{
    margin:0;
    padding:0;
}

/*header*/
$font-size-header: 25px;

header{
    height: 170px;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: $font-poppins;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-size: $font-size-header;
        margin-right: 95px;
        margin-left: 95px;
        .navigation-1{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                font-size: 40px;
                font-family: $font-poppins;
                font-weight: bold;
            }
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                li{
                    margin-left: 2rem;
                    a{
                        text-decoration: none;
                        color:$neutral-grayish-violet;
                    }
                }
            }
        }
        .navigation-2{
            .login-button{
                /*button format*/
                background-color: white;
                border:white;
                /*text format*/
                font-size: $font-size-header;
                font-family: $font-poppins;
                color:$neutral-grayish-violet;
                /*Hover*/
                &:hover{
                    background-color: red;
                    cursor: pointer;
                    transition: all 2s;
                }
            }
            .sign-up-button{
                /*button format*/
                background-color:$primary-cyan;
                border:2px solid $primary-dark-violet;
                width: 150px;
                height: 60px;
                margin-left: 3rem;
                /*text format*/
                border-radius: calc(60px/2);
                font-size: $font-size-header;
                font-family: $font-poppins;
                color:white;

            }
        }
    }
}

@media screen and (min-resolution: 1440 px){

}

/*main*/


.hero{
    border: 5px solid red;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .hero-content{
        border: 5px solid black;
        display: flex;
       flex-direction: row;
       align-items: center;
       
       justify-content: center; 
       .contendor-2{
        text-align: left;
        
        margin: 0 30px 35px 95px;
        padding: 0 15px 0 0px;   
        .parrafo-uno{
            font-family: $font-poppins;
           font-size: 70px;
          padding: 0;
          margin: 0;
          line-height: 75px;;
         
      }
      .parrafo-dos{
          font-family: $font-poppins;
          padding: 0 95px 0 0px;
          text-align: left;
          font-size: 25px;
          color:$neutral-grayish-violet;
       }
       .button-hero{
        background-color:$primary-cyan;
        border:2px solid $primary-dark-violet;
        width: 250px;
        height: 60px;
        /*text format*/
        border-radius: calc(60px/2);
        font-size: $font-size-header;
        font-family: $font-poppins;
        color:white;
        /*hover*/
        &:hover{
            cursor: pointer;
        }
       }

        }
       
     
       
       .hero-img{
           text-align:right ;
           padding-left: 35px;
       }
       img{
          
           height: 375px;
           width: 650px;
       }
    }
}

.boost{
    /*size format*/
    border: 5px solid yellow;
    height: 250px;  
    width: 100%; 
    /*background format*/
    background-image: url("/images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-color:$primary-dark-violet;
    background-position: left top;
    background-size: cover;
    /*Alineation format*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font format*/
    font-family: $font-poppins;
    color:white;
    p{
        font-size: 40px;
        margin: 25px;
    }
    button{
        /*button format*/
        background-color:$primary-cyan;
        border:2px solid $primary-dark-violet;
        width: 250px;
        height: 60px;
        /*text format*/
        border-radius: calc(60px/2);
        font-size: $font-size-header;
        font-family: $font-poppins;
        color:white;
        /*hover*/
        &:hover{
            cursor: pointer;
        }
    }
}

/*footer*/

footer{
    /*size format*/
    height:     300px;  
    width:      100%; 
    /*background format*/
    background-color:   $neutral-very-dark-violet;
    color:              white;
    font-family:        $font-poppins;
    .footer-shortly{
        display:            flex;
        flex-direction:     row;
        justify-content:    space-between;
        align-items:        flex-start;
        padding-top:    60px;
        margin-right:   95px;
        margin-left:    95px;
        height:         220px;
        div{
            display:            flex;
            flex-direction:     column;
        }
        div.titlefooter{
            p{
                font-weight:    bold;
                font-size:      40px;
                margin-top:     0;
                margin-left:    0;
                margin-right:   8rem;
            }
        }
        div *:first-child{
            font-weight:    bold;
            font-size:      20px;
        }
        div *:not(:first-child){
            font-size:      20px;
            margin-top:     4px;
            margin-bottom:  4px;
            color:$neutral-grayish-violet;
        }
        div.social-media-icons{
            display: flex;
            flex-direction: row;
            img{
                margin-top: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
