/*primary colors*/
/*Secondary colors*/
/*Neutral color*/
/*Fonts*/
* {
  margin: 0;
  padding: 0;
}

/*header*/
/* M O V I L E  M O D E */
header {
  height: 170px;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  margin-top: 45px;
  font-family: "Poppins", sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 25px;
  margin-right: 95px;
  margin-left: 95px;
}

header nav .navigation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navigation-1 p {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

header nav .navigation-1 ul {
  display: none;
}

header nav .navigation-2 {
  display: none;
}

header nav .navigation-2 s
.login-button {
  /*button format*/
  background-color: white;
  border: white;
  /*text format*/
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #9e9aa7;
  /*Hover*/
}

header nav .navigation-2 s
.login-button:hover {
  background-color: orange;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

header nav .navigation-2 .sign-up-button {
  /*button format*/
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 150px;
  height: 60px;
  margin-left: 3rem;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  /*Hover*/
}

header nav .navigation-2 .sign-up-button:hover {
  background-color: red;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

/* D E S K T O P   M O D E */
@media only screen and (min-width: 1000px) {
  header {
    height: 170px;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 25px;
    margin-right: 95px;
    margin-left: 95px;
  }
  header nav .navigation-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .navigation-1 p {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  header nav .navigation-1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
  }
  header nav .navigation-1 ul li {
    margin-left: 2rem;
    display: inline;
  }
  header nav .navigation-1 ul li a {
    display: inline;
    text-decoration: none;
    color: #9e9aa7;
  }
  header nav .navigation-2 .login-button {
    /*button format*/
    background-color: white;
    border: white;
    /*text format*/
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: #9e9aa7;
    /*Hover*/
  }
  header nav .navigation-2 .login-button:hover {
    background-color: red;
    cursor: pointer;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  header nav .navigation-2 .sign-up-button {
    /*button format*/
    background-color: #2acfcf;
    border: 2px solid #3b3054;
    width: 150px;
    height: 60px;
    margin-left: 3rem;
    /*text format*/
    border-radius: calc(60px/2);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
    /*Hover*/
  }
  header nav .navigation-2 .sign-up-button:hover {
    background-color: red;
    cursor: pointer;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
}

/*main*/
.hero {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .contendor-2 {
  text-align: left;
  margin: 0 30px 35px 95px;
  padding: 0 15px 0 0px;
}

.hero .hero-content .contendor-2 .parrafo-uno {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  padding: 0;
  margin: 0;
  line-height: 75px;
}

.hero .hero-content .contendor-2 .parrafo-dos {
  font-family: "Poppins", sans-serif;
  padding: 0 95px 0 0px;
  text-align: left;
  font-size: 18px;
  color: #9e9aa7;
}

.hero .hero-content .contendor-2 .button-hero {
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 250px;
  height: 60px;
  margin-top: 25px;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  /*hover*/
}

.hero .hero-content .contendor-2 .button-hero:hover {
  cursor: pointer;
}

.hero .hero-content .hero-img {
  text-align: right;
  padding-left: 35px;
}

.hero .hero-content img {
  height: 375px;
  width: 650px;
}

/*links*/
.links {
  height: 200px;
  position: relative;
}

.links .shorten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 180px;
  border-radius: 10px;
  margin: 35px 80px 35px 80px;
  background-image: url("/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-color: #3b3054;
  background-position: left top;
  background-size: cover;
}

.links .shorten-detalle {
  width: 90%;
  z-index: 3;
}

.links .shorten-detalle input {
  height: 60px;
  width: 75%;
  border-radius: 15px;
  margin-right: 25px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  color: #9e9aa7;
}

.links .shorten-detalle button {
  height: 62px;
  width: 20%;
  margin-top: 4px;
  border-radius: 15px;
  background-color: #2acfcf;
  color: white;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.cards {
  position: relative;
  border: 5px solid red;
  margin-top: -125px;
  width: 100%;
  height: 550px;
  z-index: -10;
  background-color: #bfbfbf;
}

.boost {
  /*size format*/
  border: 5px solid yellow;
  height: 250px;
  width: 100%;
  /*background format*/
  background-image: url("/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-color: #3b3054;
  background-position: left top;
  background-size: cover;
  /*Alineation format*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*font format*/
  font-family: "Poppins", sans-serif;
  color: white;
}

.boost p {
  font-size: 40px;
  margin: 25px;
}

.boost button {
  /*button format*/
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 250px;
  height: 60px;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  /*hover*/
}

.boost button:hover {
  cursor: pointer;
}

/*footer*/
footer {
  /*size format*/
  height: 300px;
  width: 100%;
  /*background format*/
  background-color: #232127;
  color: white;
  font-family: "Poppins", sans-serif;
}

footer .footer-shortly {
  /*Positions with flexbox*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*size format*/
  padding-top: 60px;
  margin-right: 95px;
  margin-left: 95px;
  height: 220px;
}

footer .footer-shortly div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-shortly div.titlefooter p {
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 8rem;
}

footer .footer-shortly div *:first-child {
  font-weight: bold;
  font-size: 20px;
}

footer .footer-shortly div *:not(:first-child) {
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #9e9aa7;
}

footer .footer-shortly div.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-shortly div.social-media-icons img {
  margin-top: 1rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=styles.css.map */