/*primary colors*/
$primary-cyan: hsl(180, 66%, 49%);
$primary-dark-violet: hsl(257, 27%, 26%);

/*Secondary colors*/

$secondary-red: hsl(0, 87%, 67%);

/*Neutral color*/

$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayish-violet: hsl(257, 7%, 63%);
$neutral-very-dark-blue: hsl(255, 11%, 22%);
$neutral-very-dark-violet: hsl(260, 8%, 14%);

/*Fonts*/

$font-poppins:'Poppins', sans-serif;



/*header*/
$font-size-header: 25px;

header{
    height: 170px;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: $font-poppins;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-size: $font-size-header;
        h1{
            font-size: 60px;
            font-family: $font-poppins;
        }
        .navigation-1{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                li{
                    margin-left: 2rem;
                    a{
                        text-decoration: none;
                        color:$neutral-grayish-violet;
                    }
                }
            }
        }
        .navigation-2{
            .login-button{
                background-color: white;
                border:white;
                font-size: $font-size-header;
                color:$neutral-grayish-violet;
                font-family: $font-poppins;
            }
            .sign-up-button{
                background-color:$primary-cyan;
                border:2px solid $primary-dark-violet;
                width: 150px;
                height: 60px;
                border-radius: calc(60px/2);
                font-size: $font-size-header;
                margin-left: 3rem;
                color:white;

            }
        }
    }
}

@media screen and (min-resolution: 1440 px){

}

/*main*/


.hero{
    border: 5px solid red;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .hero-content{
       border: 5px solid black;
        display: flex;
       flex-direction: row;
       align-items: center;
       padding: 1rem;
       justify-content: center; 
       .parrafo-uno{
          color:black;
          font-family: $font-poppins;
           font-size: 45px;
       }
       
       img{
          
           height: 350px;
           width: 500px;
       }
    }
}

/*footer*/

