/*primary colors*/
$primary-cyan: hsl(180, 66%, 49%);
$primary-dark-violet: hsl(257, 27%, 26%);

/*Secondary colors*/

$secondary-red: hsl(0, 87%, 67%);

/*Neutral color*/

$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayish-violet: hsl(257, 7%, 63%);
$neutral-very-dark-blue: hsl(255, 11%, 22%);
$neutral-very-dark-violet: hsl(260, 8%, 14%);

/*Fonts*/

$font-poppins:'Poppins', sans-serif;

/*Margins reset*/

*{
    margin:0;
    padding:0;
}

/*header*/

$font-size-header: 25px;

/* M O V I L E  M O D E */

body{
    min-width:375px;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    header{
        height: 170px;
        top: 0;
        left: 0;
        padding-top: 20px;
        nav{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            font-size: $font-size-header;
            .navigation-1{
                display: flex;
                p{
                    font-size: 30px;
                    font-family: $font-poppins;
                    font-weight: bold;
                }
                ul{
                    display: none;
                }
            }
            .navigation-2{
                display: none;
                button.hamburger{
                    display: flex;
                    height:20px;
                    width: 40px;
                    border-radius: 2px;
                }
            }
        }
    }
}

/* D E S K T O P   M O D E */

@media only screen and (min-width: 1200px){
    body{
        header{
            height: 170px;
            width: 100%;
            top: 0;
            left: 0;
            font-size: 18px;
            margin-top: 45px;
            font-family: $font-poppins;
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                font-size: $font-size-header;
                margin-right: 95px;
                margin-left: 95px;
                .navigation-1{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p{
                        font-size: 40px;
                        font-family: $font-poppins;
                        font-weight: bold;
                    }
                    ul{
                        display: flex;
                        display: block;
                        flex-direction: row;
                        list-style: none;
                        li{
                            margin-left: 2rem;
                            display: inline;
                            a{
                                display: inline;
                                text-decoration: none;
                                color:$neutral-grayish-violet;
                            }
                        }
                    }
                }
                .navigation-2{
                    display:block;
                    .login-button{
                        display: inline;
                        /*button format*/
                        background-color: white;
                        border:white;
                        /*text format*/
                        font-size: $font-size-header;
                        font-family: $font-poppins;
                        color:$neutral-grayish-violet;
                        /*Hover*/
                        &:hover{
                            background-color: red;
                            cursor: pointer;
                            transition: all 2s;
                        }
                    }
                    .sign-up-button{
                        display: inline;
                        /*button format*/
                        background-color:$primary-cyan;
                        border:2px solid $primary-dark-violet;
                        width: 150px;
                        height: 60px;
                        margin-left: 3rem;
                        /*text format*/
                        border-radius: calc(60px/2);
                        font-size: $font-size-header;
                        font-family: $font-poppins;
                        color:white;
                        /*Hover*/
                        &:hover{
                            background-color: red;
                            cursor: pointer;
                            transition: all 2s;
                        }
                    }
                }
            }
        }
        /*  M  A  I  N  */
        .hero{   
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hero-content{      
                display: flex;
                flex-direction: row;
                align-items: center;       
                justify-content: center; 
                    .contendor-2{
                        text-align: left;                        
                        margin: 0 30px 35px 95px;
                        padding: 0 15px 0 0px;   
                            .parrafo-uno{
                                font-family: $font-poppins;
                                font-size: 70px;
                                padding: 0;
                                margin: 0;
                                line-height: 75px;;
                            }
                            .parrafo-dos{
                                font-family: $font-poppins;
                                padding: 0 95px 0 0px;
                                text-align: left;
                                font-size: 18px;
                                color:$neutral-grayish-violet;
                            }
                            .button-hero{
                                background-color:$primary-cyan;
                                border:2px solid $primary-dark-violet;
                                width: 250px;
                                height: 60px;
                                margin-top: 25px;
                                /*text format*/
                                border-radius: calc(60px/2);
                                font-size: $font-size-header;
                                font-family: $font-poppins;
                                color:white;
                                /*hover*/
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                    }
                .hero-img{
                    text-align:right ;
                    padding-left: 35px;
                }
                img{
                    height: 375px;
                    width: 650px;
                }
            }
        }
        /*links*/
        .links{
            height: 200px;
            position: relative;
            .shorten{
                display: flex ;
                align-items: center;
                justify-content: space-evenly;
                height: 180px;
                border-radius: 10px;
                margin: 35px 80px 35px 80px;
                background-image: url("/images/bg-boost-desktop.svg");
                background-repeat: no-repeat;
                background-color:$primary-dark-violet;
                background-position: left top;
                background-size: cover;            
            }
            .shorten-detalle{ 
                width: 90%;
                z-index: 3;
                input{
                    height: 60px;
                    width: 75%;
                    border-radius: 15px;
                    margin-right: 25px;
                    font-size: $font-size-header;
                    font-family: $font-poppins; 
                    padding-left: 20px;
                    color: $neutral-grayish-violet;
                }
                button{
                    height: 62px;
                    width: 20%;
                    margin-top: 4px;
                    border-radius: 15px;
                    background-color:$primary-cyan;
                    color: white;
                    font-size: $font-size-header;
                    font-family: $font-poppins;    
                }
            }
        }

        .cards{
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            .title-card{
                height: 30vh;
                width: 40vw;
            }
            .group-card{
                height: 70vh;
                flex-direction: row;            
                text-align: center;
                
                .item-card1{
                    justify-self: flex-start;
                    align-self: flex-start;            
                }
                .item-card2{
                    justify-self: center;
                    align-self: center;            
                }
                .item-card3{
                    justify-self: flex-end;
                    align-self: flex-end;            
                }
            }
        }
    }
}

/* C I E R R A  M E D I A  D E S K T O P */


.cards{
    margin: 0;
    padding: 0 2rem;
    position: relative;
    /*height: 100vh;*/
    width: 100vw;    
    font-family: $font-poppins;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;    
    .title-card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;            
        margin: 3rem 0;
        *{
            padding: 1rem 0;
        }
        h2{
            color:$primary-dark-violet;
        }
        p{
            color: $neutral-gray;
        }
    }

    .group-card{
        display: flex;
        flex-direction: column;   
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;   
        [class^="item-card"] {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
                           
            margin: 2rem 0 0 0;
            *{   
                text-align: center;               
                margin: 0 0 1rem 0;
                
            }
            h3{
                color:$primary-dark-violet;
            }
            p{
                color: $neutral-gray;
            }
            .image-card{
                width: 90px;
                height: 90px;
                background-color: $primary-dark-violet;
                border-radius: 100%;
               img{
                   padding-top: 22px;
               }
            }
            
        }
    }        

}

.boost{
    /*size format*/
    border: 5px solid yellow;
    height: 250px;  
    width: 100%; 
    /*background format*/
    background-image: url("/images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-color:$primary-dark-violet;
    background-position: left top;
    background-size: cover;
    /*Alineation format*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font format*/
    font-family: $font-poppins;
    color:white;
    p{
        font-size: 40px;
        margin: 25px;
    }
    button{
        /*button format*/
        background-color:$primary-cyan;
        border:2px solid $primary-dark-violet;
        width: 250px;
        height: 60px;
        /*text format*/
        border-radius: calc(60px/2);
        font-size: $font-size-header;
        font-family: $font-poppins;
        color:white;
        /*hover*/
        &:hover{
            cursor: pointer;
        }
    }
}

/*footer*/

footer{
    /*size format*/
    height:     300px;  
    width:      100%; 
    /*background format*/
    background-color:   $neutral-very-dark-violet;
    color:              white;
    font-family:        $font-poppins;
    .footer-shortly{
        /*Positions with flexbox*/
        display:            flex;
        flex-direction:     row;
        justify-content:    space-between;
        align-items:        flex-start;
        /*size format*/
        padding-top:    60px;
        margin-right:   95px;
        margin-left:    95px;
        height:         220px;
        div{
            display:            flex;
            flex-direction:     column;
        }
        div.titlefooter{
            p{
                font-weight:    bold;
                font-size:      40px;
                margin-top:     0;
                margin-left:    0;
                margin-right:   8rem;
            }
        }
        div *:first-child{
            font-weight:    bold;
            font-size:      20px;
        }
        div *:not(:first-child){
            font-size:      20px;
            margin-top:     4px;
            margin-bottom:  4px;
            color:$neutral-grayish-violet;
        }
        div.social-media-icons{
            display: flex;
            flex-direction: row;
            img{
                margin-top: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
