/*primary colors*/
/*Secondary colors*/
/*Neutral color*/
/*Fonts*/
/*header*/
header {
  height: 170px;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 25px;
}

header nav .navigation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navigation-1 h1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}

header nav .navigation-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

header nav .navigation-1 ul li {
  margin-left: 2rem;
}

header nav .navigation-1 ul li a {
  text-decoration: none;
  color: #9e9aa7;
}

header nav .navigation-2 .login-button {
  /*button format*/
  background-color: white;
  border: white;
  /*text format*/
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #9e9aa7;
}

header nav .navigation-2 .login-button:hover {
  background-color: red;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

header nav .navigation-2 .sign-up-button {
  /*button format*/
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 150px;
  height: 60px;
  margin-left: 3rem;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
}

header nav .navigation-2 .sign-up-button:hover {
  background-color: red;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

/*main*/
.hero {
  border: 5px solid red;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-content {
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .contendor-2 {
  text-align: left;
  margin: 0 30px 35px 95px;
  padding: 0 15px 0 0px;
}

.hero .hero-content .contendor-2 .parrafo-uno {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  padding: 0;
  margin: 0;
  line-height: 75px;
}

.hero .hero-content .contendor-2 .parrafo-dos {
  font-family: "Poppins", sans-serif;
  padding: 0 95px 0 0px;
  text-align: left;
  font-size: 25px;
  color: #9e9aa7;
}

.hero .hero-content .contendor-2 .button-hero {
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 250px;
  height: 60px;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  /*hover*/
}

.hero .hero-content .contendor-2 .button-hero:hover {
  cursor: pointer;
}

.hero .hero-content .hero-img {
  text-align: right;
  padding-left: 35px;
}

.hero .hero-content img {
  height: 375px;
  width: 650px;
}

.boost {
  /*size format*/
  border: 5px solid yellow;
  height: 250px;
  width: 100%;
  /*background format*/
  background-image: url("/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-color: #3b3054;
  background-position: left top;
  background-size: cover;
  /*Alineation format*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*font format*/
  font-family: "Poppins", sans-serif;
  color: white;
}

.boost p {
  font-size: 40px;
  margin: 25px;
}

.boost button {
  /*button format*/
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 250px;
  height: 60px;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  /*hover*/
}

.boost button:hover {
  cursor: pointer;
}

/*footer*/
/*# sourceMappingURL=styles.css.map */