/*primary colors*/
/*Secondary colors*/
/*Neutral color*/
/*Fonts*/
/*Margins reset*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/*header*/
/* M O V I L E  M O D E */
.button-cyan {
  background-color: #2acfcf;
  border-radius: 3rem;
  color: white;
  border: none;
  width: 150px;
  height: 60px;
  line-height: 2;
  font-size: 15px;
}

.button-cyan:hover {
  background-color: #3b3054;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body {
  min-width: calc(375-($mobile-margins*2));
  margin-right: 15px;
  margin-left: 15px;
  /*  F  O  O  T  E  R  */
}

body header {
  height: 170px;
  top: 0;
  left: 0;
  padding-top: 20px;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

body header nav div.navigation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav div.navigation-1 p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body header nav div.navigation-1 ul {
  display: none;
}

body header nav div.navigation-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

body header nav div.navigation-2 button.login-button {
  display: none;
}

body header nav div.navigation-2 button.sign-up-button {
  display: none;
}

body header nav div.navigation-2 button.hamburger {
  font-weight: bold;
  font-size: 35px;
  border: 0px solid white;
  background-color: white;
  color: #9e9aa7;
}

body header nav div.navigation-2 button.hamburger:hover {
  background-color: #3b3054;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

body main {
  /*  B  O  O  S  T  */
}

body main .boost {
  /*size format*/
  height: 250px;
  width: 100%;
  /*background format*/
  background-image: url("/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-color: #3b3054;
  background-size: cover;
  /*Alineation format*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*font format*/
  font-family: "Poppins", sans-serif;
  color: white;
}

body main .boost p {
  font-size: 27px;
  padding-bottom: 15px;
}

body main .boost button {
  /*button format*/
  background-color: #2acfcf;
  border: 2px solid #3b3054;
  width: 200px;
  height: 60px;
  /*text format*/
  border-radius: calc(60px/2);
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: white;
  /*hover*/
}

body main .boost button:hover {
  cursor: pointer;
}

body footer {
  /*size format*/
  width: 100%;
  height: 850px;
  /*background format*/
  background-color: #232127;
  color: white;
  font-family: "Poppins", sans-serif;
}

body footer .footer-shortly {
  /*Positions with flexbox*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*size format*/
  padding-left: 20px;
  padding-right: 20px;
}

body footer .footer-shortly div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

body footer .footer-shortly div.titlefooter p {
  font-weight: bold;
  font-size: 27px;
}

body footer .footer-shortly div *:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

body footer .footer-shortly div *:not(:first-child) {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #9e9aa7;
}

body footer .footer-shortly div.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body footer .footer-shortly div.social-media-icons img {
  margin-right: 1.5rem;
}

/* I N I C I A   M E D I A  D E S K T O P*/
@media only screen and (min-width: 768px) {
  body {
    /*  H   E   A   D   E   R  */
    /*  M  A  I  N  */
    /*  L   I   N   K   S  */
    /*  C  A  R  D  S  */
    /*  B  O  O  S  T  */
    /*  F  O  O  T  E  R  */
  }
  body header {
    height: 170px;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 25px;
    margin-right: 95px;
    margin-left: 95px;
  }
  body header nav div.navigation-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav div.navigation-1 p {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  body header nav div.navigation-1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
  }
  body header nav div.navigation-1 ul li {
    margin-left: 2rem;
    display: inline;
  }
  body header nav div.navigation-1 ul li a {
    display: inline;
    text-decoration: none;
    color: #9e9aa7;
  }
  body header nav div.navigation-2 {
    display: block;
  }
  body header nav div.navigation-2 button.login-button {
    display: inline;
    /*button format*/
    background-color: white;
    border: white;
    /*text format*/
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: #9e9aa7;
    /*Hover*/
  }
  body header nav div.navigation-2 button.login-button:hover {
    background-color: #3b3054;
    cursor: pointer;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  body header nav div.navigation-2 button.sign-up-button {
    display: inline;
    /*button format*/
    background-color: #2acfcf;
    border: 2px solid #3b3054;
    width: 150px;
    height: 60px;
    margin-left: 3rem;
    /*text format*/
    border-radius: calc(60px/2);
    font-size: 25px;
    color: white;
    /*Hover*/
  }
  body header nav div.navigation-2 button.sign-up-button:hover {
    background-color: #3b3054;
    cursor: pointer;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  body header nav div.navigation-2 button.hamburger {
    display: none;
  }
  body .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 100px 0;
  }
  body .hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .hero .hero-content .contendor-2 {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: left;
    padding: 0 0 0 80px;
  }
  body .hero .hero-content .contendor-2 .parrafo-uno {
    font-size: 60px;
  }
  body .hero .hero-content .contendor-2 .parrafo-dos {
    text-align: left;
    font-size: 18px;
    color: #9e9aa7;
  }
  body .hero .hero-content .contendor-2 .button-cyan {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    background-color: #2acfcf;
    border: 2px solid #3b3054;
    width: 250px;
    height: 60px;
    margin-top: 25px;
    /*text format*/
    border-radius: calc(60px/2);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
    /*hover*/
  }
  body .hero .hero-content .contendor-2 .button-cyan:hover {
    cursor: pointer;
  }
  body .hero .hero-content .hero-img {
    padding-left: 100px;
    width: 60%;
    overflow: hidden;
  }
  body .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 130px;
    width: 90%;
    position: absolute;
    top: 760px;
    left: 5%;
    z-index: 1;
  }
  body .links .shorten {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    background-image: url("/images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-color: #3b3054;
    background-position: left top;
    background-size: cover;
  }
  body .links .shorten .shorten-detalle {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
  }
  body .links .shorten .shorten-detalle input {
    text-align: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
    /*height: 50px;
                        width: 700px;
                        border-radius: 15px;
                        margin-right: 0 25px;*/
    font-size: 20px;
    color: #9e9aa7;
    margin: 0;
    border-radius: 15px;
  }
  body .links .shorten .shorten-detalle button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 20%;
    margin: 0;
    /*height: 50px;
                        width: 200px;
                        margin-top: 4px;
                        border-radius: 15px;*/
    border-radius: 15px;
    background-color: #2acfcf;
    color: white;
    font-size: 20px;
  }
  body .cards {
    width: 100%;
    height: 1200px;
    padding: 100px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .cards .title-card {
    height: 30vh;
    width: 40vw;
  }
  body .cards .group-card {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 100px;
    height: 100%;
  }
  body .cards .group-card .line {
    width: 60%;
    height: 10px;
    top: 50%;
    left: 20%;
    z-index: 0;
  }
  body .cards .group-card [class^="item-card"] {
    background-color: white;
    z-index: 1;
    height: 60%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  body .cards .group-card [class^="item-card"] h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 10%;
  }
  body .cards .group-card [class^="item-card"] p {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: start;
    padding-left: 10%;
  }
  body .cards .group-card [class^="item-card"] .image-card {
    position: absolute;
    top: -50px;
    left: 10%;
  }
  body .cards .group-card .item-card1 {
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-right: 1rem;
    width: 30%;
    height: 50%;
  }
  body .cards .group-card .item-card2 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 1rem;
    width: 30%;
    height: 50%;
  }
  body .cards .group-card .item-card3 {
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 1rem;
    width: 30%;
    height: 50%;
  }
  body .boost {
    /*size format*/
    /*border: 5px solid yellow;*/
    height: 250px;
    width: 100%;
    /*background format*/
    background-image: url("/images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-color: #3b3054;
    background-position: left top;
    background-size: cover;
    /*Alineation format*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*font format*/
    font-family: "Poppins", sans-serif;
    color: white;
  }
  body .boost p {
    font-size: 40px;
    margin: 25px;
    padding: 0px;
  }
  body .boost button {
    /*button format*/
    background-color: #2acfcf;
    border: 2px solid #3b3054;
    width: 250px;
    height: 60px;
    /*text format*/
    border-radius: calc(60px/2);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
    /*hover*/
  }
  body .boost button:hover {
    cursor: pointer;
  }
  body footer {
    /*size format*/
    height: 300px;
    width: 100%;
    /*background format*/
    background-color: #232127;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  body footer .footer-shortly {
    /*Positions with flexbox*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /*size format*/
    padding-top: 60px;
    margin-right: 95px;
    margin-left: 95px;
    height: 220px;
  }
  body footer .footer-shortly div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 00px;
  }
  body footer .footer-shortly div.titlefooter p {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 8rem;
  }
  body footer .footer-shortly div *:first-child {
    font-weight: bold;
    font-size: 20px;
  }
  body footer .footer-shortly div *:not(:first-child) {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #9e9aa7;
  }
  body footer .footer-shortly div.social-media-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body footer .footer-shortly div.social-media-icons img {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

/* C I E R R A  M E D I A  D E S K T O P */
.line {
  position: absolute;
  background-color: #2acfcf;
}

.cards {
  background-color: #e6e6e6;
  margin: 0;
  position: relative;
  /*height: 100vh;*/
  width: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin: 3rem 0;
}

.cards .title-card * {
  padding: 1rem 0;
}

.cards .title-card h2 {
  color: #3b3054;
}

.cards .title-card p {
  color: #bfbfbf;
}

.cards .group-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.cards .group-card .line {
  width: 10px;
  height: 60%;
  left: 49.5%;
  z-index: 0;
}

.cards .group-card [class^="item-card"] {
  height: 300px;
  width: 300px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
  position: relative;
  z-index: 1;
}

.cards .group-card [class^="item-card"] h3 {
  color: #3b3054;
  padding: 20px 0;
}

.cards .group-card [class^="item-card"] p {
  color: #bfbfbf;
  padding: 20px 0;
}

.cards .group-card [class^="item-card"] .image-card {
  width: 90px;
  height: 90px;
  background-color: #3b3054;
  border-radius: 100%;
  position: absolute;
  top: -50px;
}

.cards .group-card [class^="item-card"] .image-card img {
  padding-top: 22px;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.hero .hero-content .contendor-2 {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.hero .hero-content .contendor-2 * {
  margin: 20px;
}

.hero .hero-content .contendor-2 h1 {
  font-size: 40px;
  color: #3b3054;
}

.hero .hero-content .contendor-2 p {
  font-size: 20px;
  color: #bfbfbf;
}

.hero .hero-content .contendor-2 button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero-content .hero-img {
  width: 100%;
  overflow: hidden;
}

.links {
  width: 100%;
  height: 150px;
  background-color: #3b3054;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links .shorten {
  width: 100%;
}

.links .shorten .shorten-detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links .shorten .shorten-detalle input {
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: .5rem;
}

.links .shorten .shorten-detalle button {
  width: 90%;
  margin-top: 10px;
  border-radius: .5rem;
  height: 50px;
}
/*# sourceMappingURL=styles.css.map */